@tailwind base;
@tailwind components;
@tailwind utilities;



/* Global CSS or within a Tailwind plugin */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides scrollbar on WebKit browsers */
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;  /* Hides scrollbar on IE and Edge */
    scrollbar-width: none;     /* Hides scrollbar on Firefox */
  }
  